# C++ compiled files
*.exe
*.out
*.o
*.obj
*.ilk
*.pdb

# CMake build folders
build/
cmake-build-*/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Temporary files
*.tmp
*.log

# macOS
.DS_Store